<% provide(:title, "Home") %>
<% if logged_in? %>
<div class="network-header col-md-12">
	
</div>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
      <%= render 'shared/networks' %>
  </div>

<% else %>
<body class="home-body">
<div class="center slogan">
  <h1>Welcome to Soulster</h1>

  <h2>
    create and join awesome communities 
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<% end %>
</body>
