<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Welcome to Soulster</h1>

  <h2>
    A Social Network for Everyone
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
