<div class="comments-header">  
 
</div>

<%= render partial: "comments/form", locals: {new_comment: new_comment} %>

<div class="comments-container">  
  <%= render partial: "comments/reply", locals: {comments: commentable.root_comments} %>
</div>  