<center>
<div class="row">
 <div class="network_header">
    
    <span class="user">
    	<h1>
    	  <%= image_tag @network.picture.url, :class => "net-img" %>
	      <%= @network.name %>
	   </h1>
    </span>
  </div>
  <h2 class="network-description"><%= @network.description %></h2>
</div>
 
</center>


