<% provide(:title, @network.name) %>
<div class="row">
 <div class="network_header">
    <span class="user">
    	<h1 class="net-name">
    	  <%= image_tag @network.picture.url, :class => "net-img-home" %>
          <%= @network.name %>
	    </h1>
	</span>
  </div>
</div>
 



